/* Created by: Joanne Santhosh
* Created on: Mar 2022
* This file contains the CSS for index.html
*/

header {
  background-color: #af1818;
  font-size: 30pt;
  text-align: center;
  padding: 20px;
}

body {
  background-color: #abdec6;
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

p {
  color: #393db1;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h2 {
  color: #393db1;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h3 {
  color: #393db1;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h4 {
  color: #393db1;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
